.App {
  width: 80%;
  justify-content: center;
  margin: auto;
}

h1 {
  color: #0C2E59;
}

a {
  text-decoration: none;
  color: inherit;
}

.pageLinks {
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.pageLinks a {
  background-color: #0C2E59;
  padding: 8px;
  border-radius: 4px;
  font-weight: 500;
  color: white;
}

.pageLinks a:hover {
  background-color:#3F7EA6;
}