.App {
  width: 80%;
  justify-content: center;
  margin: auto;
}

h1, h2, h3, h4, h5, h6, p, a {
  padding: 0px;
  margin: 0px;
}

h1 {
  color: #0C2E59;
}

a {
  text-decoration: none;
  color: inherit;
}

.MainContent {
  margin: 20px;
}